
header {
    background-color: #E74646;
    color:#FFF3E2;
}

.header-container {
    display: flex;
    margin-left: 160px;
    padding: 16px;
    justify-content: space-between;
    
}

.lista-container {
    display: inline-block;
    margin-left: 160px;
    flex-direction: row;
}

.lista-titulo {
    display: absolute;
    color: #FFE5CA;
    font-size: 32px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.item-container{
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
}

.item-lista {
    display: flex;
    flex-direction: column;
    background-color: #E74646;
    justify-content: space-around;
    color: #FFF3E2;
    border-radius: 16px;
    border: 2px solid rgba(0,0,0,0.5);
    width: 12%;
    height: 300px;
    text-align: center;
    align-items: center;
    margin: 16px;
    box-shadow: 2px 2px 3px #000, -2px -3px 5px #FA9884;
    text-shadow: 0 0 3px #FA9884, 0 0 5px #FFE5CA;
}

.item-imagem {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.50);
}

.item-imagem:hover {
    width: 136px;
    height: 136px;
    border: none;
    transition: 200ms;
    cursor: pointer;
}

::placeholder {
    color: #FFF3E2;
    opacity: 1; 
  }

.search-bar {
    border-radius: 12px;
    background-color: #FA9884;
    border: 2px solid rgba(0, 0, 0, 0.50);
    width: 800px;
    padding: 4px 8px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px 1px #000;
}