.overlay-style {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-style {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 500px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E74646;
    z-index: 1000;
    border-radius: 24px;
    border: 2px solid #FFE5CA;
    color: #FFE5CA;
    text-shadow: 2px 2px 5px #000;;
}

.modal-style button {
    border: 2px solid #FFE5CA;
    border-radius: 32px;
    color: #FFE5CA;
    background-color: #FA9884;
    font-size: 18px;
    position: absolute;
    margin-top: 736px;
}

.modal-style button:hover {
    border: 2px solid #FA9884;
    color: #E74646;
    background-color: #FA9884;
}

.modal-header {
    color: #FFE5CA;
    display: flex;
    justify-content: space-evenly;
}

.modal-header h1 {
    font-size: 32px;
    text-shadow: 0 0 3px #FA9884, 0 0 5px #FFE5CA;
    margin: 4px;
}

.modal-image {
    width: 80%;
    padding: 4px;
    margin: 8px;
    border: 2px solid #FA9884;
    max-height: 400px;
}

.modal-url a {
    font-size: 24px;
    text-decoration: none;
    color: #FFE5CA;
    text-shadow: 0 0 3px #FA9884, 2px 2px 5px #000;
    position: relative;
}


